.header {
  min-height: 110px;
  background: @dark-rgba;
  position: fixed;
  width: 100%;
  z-index: 1;
  &__container{
    .container();
  }
  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 110px;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 100px;
  }
  &__logo{
    margin-top: -10px;
  }
}

