.nav {
  &__list {
    display: flex;
  }
  &__item {
    margin-right: 35px;
    margin-left: 56px;
  }
  &__link {
    font-weight: 400;
    color: @white;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
  }
}
