.promo {
  background-image: url(../img/back-desktop.jpg);
  background-size: cover;
  background-position: 50%;
  min-height: 285px;
  padding-top: 110px;
  @media screen and (max-width: @tablet) {
    min-height: 330px;
  }
  &__container {
    .container();
    @media screen and (max-width: @tablet) {
        .containerTablet();
    }
  }
  &__title {
    width: 357px;
    min-height: 150px;
    color: @white;
    margin-left: 422px;
    margin-top: 58px;
    .title();
    @media screen and (max-width: @tablet) {
      margin-left: 151px;
    }
  }
}
